.err-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: #f8f9fa;
}

.err-code {
    font-size: 6rem;
    font-weight: 800;
    color: var(--primary);
    line-height: 1;
}

.err-msg {
    font-size: 1.5rem;
    margin-bottom: 20px;
    color: var(--secondary);
}
